body {
  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
  .logo {
    font-family: 'Peralta', cursive;
  }
  
  .logo a {
    color: rgba(0,0,0,.9);
  }
  
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }